@import "tailwindcss";

:root {
  --primary: 181, 52%, 27%;
  --primary-foreground: 60, 9.1%, 97.8%;

  --secondary: 151, 28%, 63%;
  --secondary-foreground: 20, 14.3%, 4.1%;

  --tertiary: 200, 50%, 40%;
  --tertiary-foreground: 60, 9.1%, 97.8%;

  --background: 0, 0%, 94%;
  --foreground: 20, 14.3%, 4.1%;

  --card: 0, 0%, 100%;
  --card-foreground: 20, 14.3%, 4.1%;

  --popover: 0, 0%, 100%;
  --popover-foreground: 20, 14.3%, 4.1%;

  --muted: 177, 13%, 69%;
  --muted-foreground: 20, 14.3%, 4.1%;

  --accent: 125, 70%, 73%;
  --accent-foreground: 24, 9.8%, 10%;

  --destructive: 0, 84.2%, 60.2%;
  --destructive-foreground: 60, 9.1%, 97.8%;

  --border: 20, 5.9%, 90%;
  --input: 20, 5.9%, 90%;
  --ring: 24.6, 95%, 53.1%;

  --dark: 20, 14.3%, 4.1%;
  --white: 0, 0%, 100%;
  --black: 0, 0%, 0%;
}

.text-primary {
  color: hsl(var(--primary));
}
.bg-primary {
  background-color: hsl(var(--primary));
}
.border-primary {
  border-color: hsl(var(--primary));
}
.text-primary-foreground {
  color: hsl(var(--primary-foreground));
}
.bg-primary-foreground {
  background-color: hsl(var(--primary-foreground));
}

.text-secondary {
  color: hsl(var(--secondary));
}
.bg-secondary {
  background-color: hsl(var(--secondary));
}
.border-secondary {
  border-color: hsl(var(--secondary));
}
.text-secondary-foreground {
  color: hsl(var(--secondary-foreground));
}
.bg-secondary-foreground {
  background-color: hsl(var(--secondary-foreground));
}

.text-tertiary {
  color: hsl(var(--tertiary));
}
.bg-tertiary {
  background-color: hsl(var(--tertiary));
}
.text-tertiary-foreground {
  color: hsl(var(--tertiary-foreground));
}
.bg-tertiary-foreground {
  background-color: hsl(var(--tertiary-foreground));
}

.bg-background {
  background-color: hsl(var(--background));
}
.text-foreground {
  color: hsl(var(--foreground));
}

.bg-card {
  background-color: hsl(var(--card));
}
.text-card-foreground {
  color: hsl(var(--card-foreground));
}

.bg-popover {
  background-color: hsl(var(--popover));
}
.text-popover-foreground {
  color: hsl(var(--popover-foreground));
}

.bg-muted {
  background-color: hsl(var(--muted));
}
.text-muted-foreground {
  color: hsl(var(--muted-foreground));
}

.bg-accent {
  background-color: hsl(var(--accent));
}
.text-accent-foreground {
  color: hsl(var(--accent-foreground));
}

.bg-destructive {
  background-color: hsl(var(--destructive));
}
.text-destructive-foreground {
  color: hsl(var(--destructive-foreground));
}

.border {
  border-color: hsl(var(--border));
}
.input {
  background-color: hsl(var(--input));
}
.ring {
  --tw-ring-color: hsl(var(--ring));
}

.text-dark {
  color: hsl(var(--dark));
}
.bg-white {
  background-color: hsl(var(--white));
}
.text-white {
  color: hsl(var(--white));
}
.bg-black {
  background-color: hsl(var(--black));
}
.text-black {
  color: hsl(var(--black));
}
